*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}
*::after, *::before{
    display: block;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
}
li{
    list-style: none;
}
svg{
    display: block;
}
form , input , button , select , option , textarea{
    display: block;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    appearance: none;
}
body{
    font-family: "Krona One", sans-serif;
    text-transform:lowercase;
    background-image: url(../assets/img/fondo-brillo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.Wrapper{
    width: 90%;
    /* background-color: blue; */
    margin: auto;
}

.Header{
    /* background-color: pink; */
}
.Header-wrapper{
    /* background-color: lightgreen; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.Header-left{
    /* background-color:lightblue; */
}
.Header-svg{
    width: 2rem;
    display: none;
}
.Header-logo{}
.Header-a{}
.Header-img{}
.Header-nav{
    /* background-color: lightsalmon; */
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.Header-right{

    /* background-color: red; */
}
.Header-span{
    /* background-color: aqua; */
    display: block;
    padding: 1rem 2rem;
    border: 2px solid black;
}
.Header-link{
    /* background-color: purple; */
}

@media(max-width:1024px){
    .Header-svg{
        display: block;
    }
    .Header-nav{
        display: none;
    }
}
@media(max-width:500px){
    .Header-right{
        display: none;
    }
}

.Main{
    /* background-color: lightyellow; */
    width: 100%;
}
.Main-wrapper{
    /* background-color: azure; */
}
.Main-digital{
}
.Digital{
    /* background-color: lightblue; */
}
.Digital-h1{
    /* background-color: lavender; */
    font-size: 12vw;
    padding: 2rem 0 ;
}
.Digital-dates{
    /* background-color: lavenderblush; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap:.5rem;
}
.Digital-span{
    /* background-color: lightyellow; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.Digital-span:nth-child(2)::before{
    content: '';
    width: 2.5rem;
    height: .125rem;
    background-color: black;
}

.Main-hightlights{}
.Highlights{
    /* background-color: yellow; */
    padding: 5% 0;
}

.Highlights-h2{
    /* background-color: green; */
    font-size: 2.375rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    font-weight: 400;
}

.Highlights-columnas{
    /* background-color: orange; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
}
.Columnas-section{
    /* background-color: lightsalmon; */
    width: calc(100% / 3);
    padding: 5% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.Columnas-img{
    /* background-color: lightgrey; */
    width: 100%;
    min-height: auto;
    object-fit: cover;
}
.Columnas-ask{
    min-height: 40vh;
}
.Columnas-h3{
    /* background-color: pink; */
    font-size: 1.6875rem;
    font-weight: 400;;

}
.Columnas-span{
    /* background-color: lime; */
    font-size: 1rem;
    padding-bottom: .3rem;
    border-bottom: 2px solid black;
}

@media(max-width:1024px){
    .Highlights-columnas{
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .Columnas-section{
        width: 60%;
    }
}

@media(max-width:700px){
    .Columnas-section{
        width: 100%;
    }
    .Columnas-img{
        min-height: auto;
    }
}
.Main-names{}
.Names{
    background-image: url(../assets/img/fondo-names.png);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}
.Names-ul{
    /* background-color: lightpink; */
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.Names-li{
    /* background-color: aquamarine; */
    font-size: 3.125rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Names-li::after{
    content:'';
    width: 5vw;
    height: 5px;
    background-color: black;

}

@media(max-width:768px){
    .Names-ul{
        flex-flow: column nowrap;
    }
    .Names-li{
        font-size: 2.8125rem;
    }
    .Names-li::after{
        display: none;
    }
    .Names-a{
        text-align: center;
    }
}

@media(max-width:600px){
    .Names-li{
        font-size: 2.375rem;
    }
}

.Main-programs{}
.Programs{
    /* background-color: pink; */
    width: 100%;
    padding: 10% 0;
}

.Programs-h2{
        /* background-color: green; */
        font-size: 2.375rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid black;

}
.Programs-container{
    /* background-color: azure; */
    width: 80%;
    margin: auto;
    padding: 5% 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.Programs-row{
    width: 100%;
    /* background-color: lavender;     */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;


}
.Programs-schedule{
    /* background-color: lime; */
  
    font-size: 1.25rem;
    max-width: 12rem;

    
}
.Programs-span{
    /* background-color: blue; */
}

.Programs-h3{
    /* background-color: green; */
    font-size: 1.6875rem;
    max-width: 40%;
    text-align: left;
    font-weight: 400;


}
.Programs-btn{
    /* background-color: orange; */
    display: block;
    padding: 1rem 2rem;
    border: 2px solid black;

}
.Programs-a{}

@media(max-width:1024px){
    .Programs-container{
        width: 100%;
        gap: 5rem;
    }
    .Programs-row{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
    }
    .Programs-h3{
        max-width: 100%;
    }
}

.Main-maps{}
.Maps{
    /* background-color: pink; */
    width: 90%;
    margin: auto;
    padding: 10% 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.Maps-section{
    /* background-color: lime; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 50%;
}
.Maps-h3{
    /* background-color: lightblue; */
    font-size: 2.375rem;
    width: 100%;
}
.Maps-p{
    /* background-color: lavender; */
    font-size: 1rem;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}
.Maps-img{
    /* background-color: lightgrey; */
    width: 100%;
    min-height: 60vh;
    object-fit: cover;
}

@media(max-width:1024px){
    .Maps{
        width: 90%;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .Maps-section{
        width: 100%;
    }
}
.Footer{
    background-color: black;
    color: white;
}
.Footer-wrapper{
    /* background-color: darkblue; */
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10% 0;
}

.Footer-columnas{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    /* background-color: darkmagenta; */
}

.Footer-img{
    /* background-color: pink; */
    width: 6rem;
}
.Footer-link{}
.Footer-span{
    /* background-color: aqua; */
    display: block;
}

.Footer-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
}
.Footer-li{
    font-size: 1.25rem;
}

.Footer-form{}
.Form{
    /* background-color: darkgreen; */
    position: relative;
    width: 100%;
}
.Form-input{
    /* background-color: darkkhaki; */
    padding-bottom: 1rem;
    border-bottom: 2px solid white;
    font-size: .9375rem;
    width: 100%;
}
.Form-input::placeholder{
    color: white;
}
.Form-btn{}
.Form-svg{
    width: 1rem;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
}

.Footer-rrss{}
.Rrss{
    /* background-color: darkgoldenrod; */
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}
.Rrss-li{
    /* background-color: darkred; */
}
.Rrss-svg{
    width: 1.5rem;
    color: white;
}

@media(max-width:1024px){
    .Footer-wrapper{
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 3.5rem;
    }
}