*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}
*::after, *::before{
    display: block;
}
a{
    display: block;
    color: inherit;
    text-decoration: none;
}
img{
    max-width: 100%;
    width: 100%;
    display: block;
}
li{
    list-style: none;
}
svg{
    display: block;
}
form , input , button , select , option , textarea{
    display: block;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    appearance: none;
}
.Header{
    /* background-color: pink; */
}
.Header-wrapper{
    /* background-color: lightgreen; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.Header-left{
    /* background-color:lightblue; */
}
.Header-logo{}
.Header-a{}
.Header-img{}
.Header-nav{
    /* background-color: lightsalmon; */
}
.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.Header-right{

    /* background-color: red; */
}
.Header-span{
    /* background-color: aqua; */
    display: block;
    padding: 1rem 2rem;
    border: 2px solid black;
}
.Header-link{
    /* background-color: purple; */
}

.Main{
    background-color: lightyellow;
}
.Main-wrapper{
    background-color: azure;
}
.Main-digital{
}
.Digital{
    /* background-color: lightblue; */
}
.Digital-h1{
    /* background-color: lavender; */
    font-size: 12vw;
    padding: 2rem 0 ;
}
.Digital-dates{
    /* background-color: lavenderblush; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap:.5rem;
}
.Digital-span{
    /* background-color: lightyellow; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.Digital-span:nth-child(2)::before{
    content: '';
    width: 2.5rem;
    height: .125rem;
    background-color: black;
}